* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    min-height: 100%;
}

body {
    background-image: linear-gradient(#00368D, #bb1a4a);
    height: 100%;
    width: 100%;
    margin: 0;
}

#main {
    background-image: linear-gradient(to right, white, #F1E7CD);
    width: 90%;
    margin: 2rem auto;
    border-radius: 30px;
    padding: 2rem;
}

.xpikachu {
    position: relative;
    animation: moveAbout 8s linear infinite;
}

@keyframes moveAbout {
    0% {
        margin-left: 0;
        transform: none;
    }

    100% {
        margin-left: 100%;
        transform: translateX(-100%);
    }
}

img {
    max-width: 80%;
}

img[alt$="-small"] {
    max-width: 30%;
}

h1 {
    font-family: 'Shojumaru', cursive;
    text-align: center;
    font-size: xx-large;
}

h2 {
    font-family: 'Permanent Marker', cursive;
}

p {
    font-family: 'Enriqueta', serif;
}

p > a {
    color: chocolate;
}

p > code {
    background-color: black;
    color: yellowgreen;
    padding: 3px;
    border-radius: 3px;
    font-size: 0.8rem;
}

pre {
    background-color: black;
    color: greenyellow;
    padding: 10px;
    border-radius: 5px;
    font-size: 0.8rem;
    font-family: 'Concert One', monospace;
}

.guides-container {
    display: flex;
}

ol {
    font-size: 1.2rem;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

ol > li > a {
    text-decoration: none;
}

ol.blue-guides {
    background-image: linear-gradient(royalblue, blue, navy);
}

ol.blue-guides > li > a {
    color: blue;
}

ol.green-guides {
    background-image: linear-gradient(lightgreen, green, darkgreen);
}

ol.green-guides > li > a {
    color: green;
}

ol.yellow-guides {
    background-image: linear-gradient(yellow, gold, orange);
}

ol.yellow-guides > li > a {
    color: gold;
}

ol.red-guides {
    background-image: linear-gradient(orangered, red, firebrick);
}

ol.red-guides > li > a {
    color: red;
}