/* CSS files add styling rules to your content */

.logo {
  position: absolute;
  top: 15%;
  left: 35%;
  z-index:0;
  width: 30%;
}

body {
  font-family: "Lato", sans-serif;
  transition: background-color .5s;
  height: 100%;
  width: 100%;
  margin: 0;
}

.logobutton{
  position: absolute;
  left:0%;
  top:0%; 
  width:5%;
}

#aboutHeader {
  font-family: "Permanent Marker", cursive; 
  font-size: 200%;
}

#aboutHeader:hover {
  text-decoration: underline;
}
  
.topnav {
  display:inline-block;
  overflow: hidden;
  background-color: #00368D;
  position:fixed;
  top:0%;
  left:34%;
  width:32%;
  height:6%;
  z-index:10;
  text-align:center;
  border-radius: 20px;
}

.topnav a {
/*   float: left; */
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
  font-family: "Ubuntu", sans-serif;
}

.topnav a:hover {
  background-color: #f48b8b;
}

.topnav a.active {
  background-color: #f0815c;
  color: white;
}

.subheader {
  position:absolute;
  top:50%;
  left:35%;
  text-align: center;
  font-size: 150%;
}

.pikachu {
  position: absolute;
  right: 0%;
  bottom: -11%;
}

.date {
  color: #ffffff;
  position: absolute;
  text-align:center;
  font-size : 180%;
  top: 60%;
  left:42%;
  font-family: 'Ubuntu', sans-serif;
}

.timeAndLocation{
  color: #ffffff;
  position: absolute;
  text-align:center;
  top: 65%;
  left: 42%;
  font-family: 'Ubuntu', sans-serif;
  font-size: 150%;
}

.register{
  color: #ffffff;
  position:absolute;
  font-size:100%;
  text-align: center;
  bottom:5%;
  left:35%;
  font-family: 'Ubuntu', sans-serif;
}

.belowRegister{
  position:absolute;
  bottom: 5%;
  left: 0%;
}

#demo {
  color: #ffffff;
  font-family: 'Hammersmith One', cursive;
}

.timerBtn {
  background-color: #f9b311;
  position: absolute;
  font-size: 130%;
  text-align: center;
  top: 78%;
  left: 31%;
  border-radius:20px;
  width: 40%;
}

#background-wrap {
  bottom: 0;
	left: 0;
	padding-top: 50px;
	position: fixed;
	right: 0;
	top: 0;
	z-index: -1;
}

/* KEYFRAMES */

@-webkit-keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

@-moz-keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

@keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

/* ANIMATIONS */

.x1 {
	-webkit-animation: animateCloud 35s linear infinite;
	-moz-animation: animateCloud 35s linear infinite;
	animation: animateCloud 35s linear infinite;
	
	-webkit-transform: scale(0.65);
	-moz-transform: scale(0.65);
	transform: scale(0.65);
}


.x2 {
	-webkit-animation: animateCloud 20s linear infinite;
	-moz-animation: animateCloud 20s linear infinite;
	animation: animateCloud 20s linear infinite;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.x3 {
	-webkit-animation: animateCloud 30s linear infinite;
	-moz-animation: animateCloud 30s linear infinite;
	animation: animateCloud 30s linear infinite;
	
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
}

.x4 {
	-webkit-animation: animateCloud 18s linear infinite;
	-moz-animation: animateCloud 18s linear infinite;
	animation: animateCloud 18s linear infinite;
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}

.x5 {
	-webkit-animation: animateCloud 25s linear infinite;
	-moz-animation: animateCloud 25s linear infinite;
	animation: animateCloud 25s linear infinite;
	
	-webkit-transform: scale(0.55);
	-moz-transform: scale(0.55);
	transform: scale(0.55);
}

/* OBJECTS */

.cloud {
	background: #fff;
	background: -moz-linear-gradient(top,  #fff 5%, #f1f1f1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#fff), color-stop(100%,#f1f1f1));
	background: -webkit-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: -o-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: -ms-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#f1f1f1',GradientType=0 ); */
	
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	
	-webkit-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
	box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);

	height: 120px;
	position: relative;
	width: 350px;
}

.cloud:after, .cloud:before {
  background: #fff;
	content: '';
	position: absolute;
	z-indeX: 0;
}

.cloud:after {
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;

	height: 100px;
	left: 50px;
	top: -50px;
	width: 100px;
}

.cloud:before {
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
	border-radius: 200px;

	width: 180px;
	height: 180px;
	right: 50px;
	top: -90px;
}

th, td {
  padding: 0px;
}
.arrow {
/*   top:80%; */
/*   width: 5%; */
  color: #bb1133;
  font-size: 330%;
  top:10%;
}

 
.bounce {
    -moz-animation: bounce 3.5 infinite;
    -webkit-animation: bounce 3.5s infinite;
    animation: bounce 3.5s infinite;
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    60% {
        transform: translateY(15px);
    }
}

#section1 {
  width: 1000px;
}
#section2{
 margin-top: 80px;
}

.frontPage {
  height: 100vh;
}

.aboutContainer{
  width: 80%;
  height: 80%;
  padding: 10px;
  border: 5px solid #bb1133;
  margin: 0;
  background-color: white;
  text-align:center;
  position: absolute;
  left: 8%;
}

@media only screen and (max-width: 1250px) {
  .subheader{top:48%; left:35%; font-size:135%;}
  .date {top: 55%; left: 43%; font-size: 150%;}
  .timeAndLocation {top: 60%; left: 43%; font-size: 135%;}
  .timerBtn {top: 70%}
  .register{top: 90%; left: 33%; font-size: 100%;}
  .pikachu {bottom: -11%;}
  .topnav {left: 32%; border-radius: 20px; width: 37%;}
}

@media only screen and (max-width: 1150px) {
  .subheader{top:48%; left:35%; font-size:135%;}
  .date {top: 55%; left: 43%; font-size: 150%;}
  .timeAndLocation {top: 60%; left: 43%; font-size: 135%;}
  .timerBtn {top: 70%}
  .register{top: 90%; left: 33%; font-size: 100%;}
  .pikachu {bottom: -11%;}
  .topnav {left: 31%; border-radius: 20px; width: 40%;}
}

@media only screen and (max-width: 1000px) {
  .subheader{top:48%; left:35%; font-size:135%;}
  .date {top: 55%; left: 43%; font-size: 150%;}
  .timeAndLocation {top: 60%; left: 43%; font-size: 135%;}
  .timerBtn {top: 70%}
  .register{top: 90%; left: 29%; font-size: 100%;}
  .pikachu {bottom: -11%;}
  .topnav {left: 29%; border-radius: 20px; width: 44%;}
}


@media only screen and (max-width: 900px) {
  .subheader{top:40%; left:30%; font-size:135%;}
  .date {top: 47%; left: 38%; font-size: 150%;}
  .timeAndLocation {top: 52%; left: 38%; font-size: 135%;}
  .timerBtn {top: 63%}
  .register{top: 85%; left: 27%; font-size: 100%;}
  .pikachu {bottom: -8%;}
  .topnav {left: 30%; border-radius: 20px; width: 37%;}
}

@media only screen and (max-width: 900px) {
  .subheader{top:40%; left:30%; font-size:135%;}
  .date {top: 47%; left: 38%; font-size: 150%;}
  .timeAndLocation {top: 52%; left: 38%; font-size: 135%;}
  .timerBtn {top: 63%}
  .register{top: 85%; left: 27%; font-size: 100%;}
  .pikachu {bottom: -8%;}
  .topnav {left: 27%; border-radius: 20px; width: 49%;}
}

@media only screen and (max-width: 800px) {
  .subheader{top:45%; left:30%; font-size:125%;}
  .date {top:52%; left: 39%; font-size: 150%;}
  .timeAndLocation {top: 59%; left: 39%; font-size: 125%;}
  .timerBtn {top: 75%; left: 24%; width: 55%; font-size:100%;}
  .register{top: 90%; left: 25%; font-size: 100%;}
  .pikachu {bottom: -10%; right: -5%; width: 25%;}
  .aboutContainer {width: 75%; height: 150%; position:absolute; left:15%;}
  .arrow {font-size: 150%;}
  .topnav {left: 30%; border-radius: 20px; width: 40%; height: 7%;}
  .topnav a {font-size: 80%;}
}

@media only screen and (max-width: 700px) {
  .logo{top:10%;left:37%}
  .subheader{top:28%; left:22%; font-size:100%;}
  .date {top: 35%; left: 35%; font-size: 125%;}
  .timeAndLocation {top: 40%; left: 35%; font-size: 100%;}
  .timerBtn {top: 55%; left: 30%; width: 50%; font-size:100%;}
  .register{top: 80%; left: 13%; font-size: 80%;}
  .pikachu {bottom: 0%;}
  .aboutContainer {width: 70%; height: 150%; position: absolute; left: 13%;}
  .arrow {font-size:100%;}
  .topnav {left: 22%; border-radius: 20px; width: 60%; height: 4.5%;}
  .topnav a {font-size: 50%;}
}

@media only screen and (max-width: 400px) {
  .subheader{top:25%; left:30%; font-size:75%;}
  .date {top: 35%; left: 38%; font-size: 100%;}
  .timeAndLocation {top: 39%; left: 39%; font-size: 75%;}
  .timerBtn {top: 50%; left: 28%;}
  .register{top: 75%; left: 24%; font-size: 50%;}
  .pikachu {bottom: 0%;}
  .topnav {left: 24%; border-radius: 20px; width: 63%;}
}
