/* Whole page */
html {
    scroll-behavior: smooth;
}

body {
    transition: background-color .5s;
    background-color: #00368D;
    height: 100%;
    width: 100%;
    margin: 0;
}

.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

nav {
    background-color: #00368D;
    z-index: 10;
    position: sticky;
    top: 0;
    text-align: center;
}

nav > a {
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 22px;
}

nav > a:hover {
    background-color: #f48b8b;
    border-radius: 10px;

}

nav > a.active {
    background-color: #f0815c;
    color: white;
    border-radius: 10px;
}

/* High-level sections */
section {
    margin: 2rem;
    position: relative;
}

section#home {
    font-family: 'Ubuntu', sans-serif;
    color: white;
}

.text-content {
    padding: 0 20px;
    margin: 0;
    border: 5px solid #bb1133;
    font-family: 'Hind Siliguri', sans-serif;
    color: black;
    background-color: white;
    text-align: center;
    font-size: 1.5rem;
}

h2 {
    font-family: 'Permanent Marker', cursive;
}

h3 {
    font-family: 'Ubuntu', sans-serif;
}

/* Home section */
.banner {
    padding-top: 4rem;
    text-align: center;
}

.banner > img {
    max-width: 500px;
}

.subheader {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 1rem;
}

.subheader-enabling {
    color: #ff3333;
}

.subheader-encouraging {
    color: #FFA500;
}

.subheader-empowering {
    color: #ffd24d;
}

.timeAndLocation {
    text-align: center;
    font-size: 2rem;
}

.countdown {
    background-color: #f9b311;
    font-size: 2rem;
    text-align: center;
    border-radius: 20px;
    width: 40vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#demo {
    color: white;
    font-family: 'Hammersmith One', cursive;
}

.register {
    color: white;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
}

.register-link {
    color: red;
}

.pikachu {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 30%;
}

.scroll-logo {
    position: absolute;
    bottom: 0;
}

.scroll-logo > img {
    max-width: 100px;
}

.bounce {
    -moz-animation: bounce 3.5 infinite;
    -webkit-animation: bounce 3.5s infinite;
    animation: bounce 3.5s infinite;
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    60% {
        transform: translateY(15px);
    }
}