/* CSS files add styling rules to your content */

.logo {
  position: absolute;
  top: 10%;
  left: 35%;
  z-index:0;
  width: 30%;
}

body {
  transition: background-color .5s;
  height: 100%;
  width: 100%;
  margin: 0;
}

#aboutHeader {
  font-family: "Permanent Marker", cursive; 
  font-size: 200%;
}

#aboutHeader:hover {
  text-decoration: underline;
}
  
.topnav {
  background-color: #00368D;
  z-index:10;
/*   text-align:center; */
  position:fixed; /* added 6/3/19 eric */
  left:38%;
  height:3%;
  border-radius: 25px; /* added 6/3/19 eric */
}


.topnav a {
/*   float: left; */
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
  font-family: "Ubuntu", sans-serif;
}

.topnav a:hover {
  background-color: #f48b8b;
  border-radius: 25px; /* added 6/3/19 eric */

}

.topnav a.active {
  background-color: #f0815c;
  color: white;
  border-radius: 25px; /* added 6/3/19 eric */
}

.center {
  margin: 0;
  position: absolute;
  top: 58%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.subheader {
  text-align: center;
  font-size: 150%;
}

.pikachu {
  position: absolute;
  right: 0%;
  bottom: -11%;
}

.date {
  color: #ffffff;
  text-align:center;
  font-size : 180%;
  font-family: 'Ubuntu', sans-serif;
}

.timeAndLocation{
  color: #ffffff;
  text-align:center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 150%;
}

.register {
  text-align:center; 
  color: #ffffff;
  font-size:100%;
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  position: absolute;
  top: 95%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.belowRegister{
  position:absolute;
  bottom: 5%;
  left: 0%;
}

#demo {
  color: #ffffff;
  font-family: 'Hammersmith One', cursive;
}

.timerBtn {
  background-color: #f9b311;
  position: absolute;
  font-size: 130%;
  text-align: center;
  top: 78%;
  left: 31%;
  border-radius:20px;
  width: 40%;
}

#background-wrap {
  bottom: 0;
	left: 0;
	padding-top: 50px;
	position: fixed;
	right: 0;
	top: 0;
	z-index: -1;
}

/* KEYFRAMES */

@-webkit-keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

@-moz-keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

@keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

/* ANIMATIONS */

.x1 {
	-webkit-animation: animateCloud 35s linear infinite;
	-moz-animation: animateCloud 35s linear infinite;
	animation: animateCloud 35s linear infinite;
	
	-webkit-transform: scale(0.65);
	-moz-transform: scale(0.65);
	transform: scale(0.65);
}


.x2 {
	-webkit-animation: animateCloud 20s linear infinite;
	-moz-animation: animateCloud 20s linear infinite;
	animation: animateCloud 20s linear infinite;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.x3 {
	-webkit-animation: animateCloud 30s linear infinite;
	-moz-animation: animateCloud 30s linear infinite;
	animation: animateCloud 30s linear infinite;
	
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
}

.x4 {
	-webkit-animation: animateCloud 18s linear infinite;
	-moz-animation: animateCloud 18s linear infinite;
	animation: animateCloud 18s linear infinite;
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}

.x5 {
	-webkit-animation: animateCloud 25s linear infinite;
	-moz-animation: animateCloud 25s linear infinite;
	animation: animateCloud 25s linear infinite;
	
	-webkit-transform: scale(0.55);
	-moz-transform: scale(0.55);
	transform: scale(0.55);
}

/* OBJECTS */

.cloud {
	background: #fff;
	background: -moz-linear-gradient(top,  #fff 5%, #f1f1f1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#fff), color-stop(100%,#f1f1f1));
	background: -webkit-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: -o-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: -ms-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#f1f1f1',GradientType=0 ); */
	
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	
	-webkit-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
	box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);

	height: 120px;
	position: relative;
	width: 350px;
}

.cloud:after, .cloud:before {
  background: #fff;
	content: '';
	position: absolute;
	z-indeX: 0;
}

.cloud:after {
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;

	height: 100px;
	left: 50px;
	top: -50px;
	width: 100px;
}

.cloud:before {
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
	border-radius: 200px;

	width: 180px;
	height: 180px;
	right: 50px;
	top: -90px;
}

th, td {
  padding: 0px;
}
.arrow {
/*   top:80%; */
/*   width: 5%; */
  color: #bb1133;
  font-size: 330%;
  top:10%;
}

 
.bounce {
    -moz-animation: bounce 3.5 infinite;
    -webkit-animation: bounce 3.5s infinite;
    animation: bounce 3.5s infinite;
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    60% {
        transform: translateY(15px);
    }
}

#section1 {
  width: 100%;
  text-align: center;
}

#section2{
 margin-top: 80px;
}

#section3{
 margin-top: 100px;
}

.frontPage {
  height: 100vh;
}

.aboutContainer{
  width: 85%;
  height: 95%;
  padding: 0px;
  padding-right:20px;
  padding-left:20px;
  border: 5px solid #bb1133;
  margin: 0;
  background-color: white;
  text-align:center;
  position: absolute;
  left: 8%;
  font-size: 120%;
}
  
#contact {
  text-align: center;
  font-size: 150%;
}

@media only screen and (max-width: 1600px) {
  .subheader{font-size:180%;}
  .date {font-size: 200%;}
  .timeAndLocation {font-size: 150%;}
  .center {top: 58%;}
  .timerBtn {font-size: 150%; top: 74%;}
  .register{font-size: 100%;}
  .pikachu {bottom: -11%;}
  .topnav {left:32%;}
  .topnav a{font-size: 150%;}
  .aboutContainer {height: 95%; font-size: 110%;}
}

@media only screen and (max-width: 1200px) {
  .subheader{font-size:150%;}
  .date {font-size: 200%;}
  .timeAndLocation {font-size: 150%;}
  .center {top: 58%;}
  .timerBtn {font-size: 150%; top: 74%;}
  .register{font-size: 100%;}
  .pikachu {bottom: -11%;}
  .topnav {left:32%;}
  .topnav a{font-size: 150%;}
  .aboutContainer {height: 100%; font-size: 100%;}
}

@media only screen and (max-width: 900px) {
  .subheader{font-size:125%;}
  .date {font-size: 140%;}
  .timeAndLocation {font-size: 125%;}
  .center {top: 50%;}
  .timerBtn {top: 63%}
  .register{top: 90%; font-size: 100%;}
  .pikachu {bottom: -8%;}
  .topnav a{font-size: 150%;}  
  .aboutContainer {height:110%; font-size: 100%; left:5%;}
}

@media only screen and (max-width: 800px) {
  .subheader{font-size:100%;}
  .date {font-size: 125%;}
  .timeAndLocation {font-size: 100%;}
  .center {top: 40%;}
  .timerBtn {top: 55%; left: 25%; width: 50%; font-size:100%;}
  .register{top: 80%; font-size: 80%;}
  .pikachu {bottom: 0%;}
  .aboutContainer {width: 70%; height: 150%; position: absolute; left: 13%;}
  .arrow {font-size:100%;}
  .topnav{left: 30%; height:3%;} /* added 6/3/19 eric */
  .topnav a{font-size: 80%;}
  .icon{width: 110%;}
  .aboutContainer {height:115%; font-size: 90%;}
  #contact {font-size:100%;}
}

@media only screen and (max-width: 700px) {
  .subheader{font-size:100%;}
  .date {font-size: 125%;}
  .timeAndLocation {font-size: 100%;}
  .center {top: 40%;}
  .timerBtn {top: 55%; left: 30%; width: 50%; font-size:100%;}
  .register{top: 80%; font-size: 80%;}
  .pikachu {bottom: 0%;}
  .aboutContainer {width: 70%; height: 150%; position: absolute; left: 13%;}
  .arrow {font-size:100%;}
  .topnav{left:25%; height:3%;} /* added 6/3/19 eric */
  .topnav a{font-size: 80%;}
  .icon{width: 110%;}
  .aboutContainer {height:125%; font-size: 90%;}
  #contact {font-size:100%;}
}

@media only screen and (max-width: 400px) {
  .subheader{font-size:75%;}
  .date {font-size: 100%;}
  .timeAndLocation {font-size: 75%;}
  .center {top: 35%;}
  .timerBtn {top: 50%; left: 28%;}
  .register{top: 75%; font-size: 50%;}
  .pikachu {bottom: 0%;}
  .topnav a{font-size: 50%;}
  .topnav {width:68%;}
  .aboutContainer {height:180%;}
}


@media only screen and (max-width: 300px) {
  .subheader{font-size:75%;}
  .date {font-size: 100%;}
  .timeAndLocation {font-size: 75%;}
  .center {top: 35%;}
  .timerBtn {top: 50%; left: 28%;}
  .register{top: 75%; font-size: 50%;}
  .pikachu {bottom: 0%;}
  .topnav a{font-size: 50%;}
  .topnav {width:83%; left:10%;}
  .aboutContainer {left:8%; font-size: 80%; height: 190%;}
}
