/* CSS files add styling rules to your content */

.logo {
  position: absolute;
  top: 10%;
  left: 35%;
  z-index:0;
  width: 30%;
}


body {
  font-family: "Lato", sans-serif;
  transition: background-color .5s;
  height: 100%;
  width: 100%;
  margin: 0;
}

.icon {
  width: 10%;
}

.logobutton{
  position: absolute;
  left:0%;
  top:0%; 
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ffd24d;;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


.subheader {
  position:absolute;
  top:45%;
  text-align: center;
  font-size: 150%;
  width: 80%;
}

.pikachu {
  position: absolute;
  right: 0%;
  bottom: -11%;
  width: 30%;
}

.date {
  color: #ffffff;
  position: absolute;
  text-align:center;
  font-size : 180%;
  top: 55%;
  font-family: 'Ubuntu', sans-serif;
  width: 80%;
}

.timeAndLocation{
  color: #ffffff;
  position: absolute;
  text-align:center;
  top: 60%;
  font-family: 'Ubuntu', sans-serif;
  font-size: 150%;
  width: 80%;
}

.register{
  color: #ffffff;
  position:absolute;
  font-size:100%;
  text-align: center;
  top:90%;
  font-family: 'Ubuntu', sans-serif;
  width: 80%;
}

#demo {
  color: #ffffff;
  font-family: 'Hammersmith One', cursive;
}

.timerBtn {
  background-color: #f9b311;
  position: absolute;
  font-size: 125%;
  text-align: center;
  top: 73%;
  left: 31%;
  border-radius:20px;
  width: 40%;
}
  

#background-wrap {
  bottom: 0;
	left: 0;
	padding-top: 50px;
	position: fixed;
	right: 0;
	top: 0;
	z-index: -1;
}

/* KEYFRAMES */

@-webkit-keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

@-moz-keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

@keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

/* ANIMATIONS */

.x1 {
	-webkit-animation: animateCloud 35s linear infinite;
	-moz-animation: animateCloud 35s linear infinite;
	animation: animateCloud 35s linear infinite;
	
	-webkit-transform: scale(0.65);
	-moz-transform: scale(0.65);
	transform: scale(0.65);
}



.x2 {
	-webkit-animation: animateCloud 20s linear infinite;
	-moz-animation: animateCloud 20s linear infinite;
	animation: animateCloud 20s linear infinite;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.x3 {
	-webkit-animation: animateCloud 30s linear infinite;
	-moz-animation: animateCloud 30s linear infinite;
	animation: animateCloud 30s linear infinite;
	
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
}

.x4 {
	-webkit-animation: animateCloud 18s linear infinite;
	-moz-animation: animateCloud 18s linear infinite;
	animation: animateCloud 18s linear infinite;
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}

.x5 {
	-webkit-animation: animateCloud 25s linear infinite;
	-moz-animation: animateCloud 25s linear infinite;
	animation: animateCloud 25s linear infinite;
	
	-webkit-transform: scale(0.55);
	-moz-transform: scale(0.55);
	transform: scale(0.55);
}

/* OBJECTS */

.cloud {
	background: #fff;
	background: -moz-linear-gradient(top,  #fff 5%, #f1f1f1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#fff), color-stop(100%,#f1f1f1));
	background: -webkit-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: -o-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: -ms-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#f1f1f1',GradientType=0 ); */
	
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	
	-webkit-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
	box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);

	height: 120px;
	position: relative;
	width: 350px;
}

.cloud:after, .cloud:before {
  background: #fff;
	content: '';
	position: absolute;
	z-indeX: 0;
}

.cloud:after {
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;

	height: 100px;
	left: 50px;
	top: -50px;
	width: 100px;
}

.cloud:before {
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
	border-radius: 200px;

	width: 180px;
	height: 180px;
	right: 50px;
	top: -90px;
}


@media only screen and (max-width: 900px) {
  .subheader{top:40%; left:10%; font-size:135%;}
  .date {top: 47%; left: 10%; font-size: 150%;}
  .timeAndLocation {top: 52%; left: 10%; font-size: 135%;}
  .timerBtn {top: 63%}
  .register{top: 85%; left: 10%; font-size: 100%;}
  .pikachu {bottom: -8%;}
  
}

@media only screen and (max-width: 800px) {
  .subheader{top:43%; left:10%; font-size:80%;}
  .date {top: 53%; left: 10%; font-size: 150%;}
  .timeAndLocation {top: 60%; left: 10%; font-size: 80%;}
  .timerBtn {top: 75%; font-size:80%;}
  .register{top: 95%; font-size: 50%;}
  .pikachu {bottom: -10%;}
  
}

@media only screen and (max-width: 700px) {
  .subheader{top:25%; left:10%; font-size:80%;}
  .date {top: 35%; left: 10%; font-size: 100%;}
  .timeAndLocation {top: 40%; left: 10%; font-size: 80%;}
  .timerBtn {top: 58%; font-size:80%;}
  .register{top: 75%; font-size: 50%;}
  .pikachu {bottom: 0%;}
}
