/* Whole page */

body {
    transition: background-color .5s;
    background-color: #00368D;
    height: 100%;
    width: 100%;
    margin: 0;
}

.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

nav {
    background-color: #00368D;
    z-index: 10;
    position: sticky;
    top: 0;
    text-align: center;
}

.topnav a {
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 22px;
    
}

.topnav a:hover {
    background-color: #f48b8b;
    border-radius: 10px;

}

.topnav a.active {
    background-color: #f0815c;
    color: white;
    border-radius: 10px;
}

/* High-level sections */
section#home {
    font-family: 'Ubuntu', sans-serif;
    color: white;
}

section#contact {
    text-align: center;
}

section#about {
    font-family: 'Hind Siliguri', sans-serif;
    color: black;
}

/* Home section */
.banner {
    padding-top: 4rem;
    text-align: center;
}

.subheader {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.subheader-enabling {
    color: #ff3333;
}

.subheader-encouraging {
    color: #FFA500;
}

.subheader-empowering {
    color: #ffd24d;
}

.timeAndLocation {
    color: white;
    text-align: center;
    font-size: 1.5rem;
}

.date {
    font-size: 2rem;
}

.countdown {
    background-color: #f9b311;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 20px;
    width: 40vw;
}

#demo {
    color: white;
    font-family: 'Hammersmith One', cursive;
}

.register {
    color: white;
    width: 100%;
    text-align: center;
    font-size: 1rem;
}

.register-link {
    color: red;
}

.pikachu {
    position: absolute;
    right: 0%;
    max-width: 30%;
}

.scroll-logo {
    position: absolute;
    bottom: 5%;
    left: 0%;
}

.bounce {
    -moz-animation: bounce 3.5 infinite;
    -webkit-animation: bounce 3.5s infinite;
    animation: bounce 3.5s infinite;
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    60% {
        transform: translateY(15px);
    }
}

/* Contact section */
#contact {
    text-align: center;
    font-size: 150%;
}

/* About section */
section#about h2 {
    font-family: 'Permanent Marker', cursive;
}

section#about h3 {
    font-family: 'Ubuntu', sans-serif;
}

h2:hover, h3:hover {
    text-decoration: underline;
}

section#about {
    padding: 0px;
    padding-right: 20px;
    padding-left: 20px;
    border: 5px solid #bb1133;
    margin: 0;
    background-color: white;
    text-align: center;
    font-size: 1.5rem;
}

/*Media Queries*/
@media only screen and (max-width: 1600px) {
    .subheader {
        font-size: 180%;
    }

    .date {
        font-size: 200%;
    }

    .timeAndLocation {
        font-size: 150%;
    }

    .center {
        top: 58%;
    }

    .timerBtn {
        font-size: 150%;
        top: 74%;
    }

    .register {
        font-size: 100%;
    }

    .pikachu {
        bottom: -9%;
    }

    .topnav {
        left: 37%;
        height: 5%;
    }

    .topnav a {
        font-size: 150%;
    }

    .aboutContainer {
        font-size: 130%;
    }

    #contact {
        font-size: 150%;
    }
}

@media only screen and (max-width: 1100px) {
    .subheader {
        font-size: 125%;
    }

    .date {
        font-size: 140%;
    }

    .timeAndLocation {
        font-size: 125%;
    }

    .center {
        top: 50%;
    }

    .timerBtn {
        top: 63%
    }

    .register {
        top: 90%;
        font-size: 100%;
    }

    .topnav {
        left: 30%;
    }

    .topnav a {
        font-size: 150%;
    }

    .aboutContainer {
        font-size: 110%;
    }

    #contact {
        font-size: 120%;
    }

    .pikachu {
        bottom: -5%;
    }
}

@media only screen and (max-width: 900px) {
    .subheader {
        font-size: 125%;
    }

    .date {
        font-size: 140%;
    }

    .timeAndLocation {
        font-size: 125%;
    }

    .center {
        top: 50%;
    }

    .timerBtn {
        top: 63%
    }

    .register {
        top: 90%;
        font-size: 100%;
    }

    .topnav {
        left: 30%;
    }

    .topnav a {
        font-size: 150%;
    }

    .aboutContainer {
        font-size: 100%;
    }

    #contact {
        font-size: 120%;
    }

    .pikachu {
        bottom: -5%;
    }
}

@media only screen and (max-width: 700px) {
    .subheader {
        font-size: 100%;
    }

    .date {
        font-size: 125%;
    }

    .timeAndLocation {
        font-size: 100%;
    }

    .center {
        top: 40%;
    }

    .timerBtn {
        top: 55%;
        left: 30%;
        width: 50%;
        font-size: 100%;
    }

    .register {
        top: 80%;
        font-size: 80%;
    }

    .pikachu {
        bottom: 0%;
    }

    .arrow {
        font-size: 100%;
    }

    .topnav {
        left: 30%;
        height: 3%;
        width: 50%;
    }

    .topnav a {
        font-size: 80%;
    }

    .icon {
        width: 110%;
    }

    .aboutContainer {
        font-size: 100%;
    }

    #contact {
        font-size: 100%;
    }
}


@media only screen and (max-height: 700px) {
    .subheader {
        font-size: 100%;
    }

    .date {
        font-size: 125%;
    }

    .timeAndLocation {
        font-size: 100%;
    }

    .center {
        top: 40%;
    }

    .timerBtn {
        top: 55%;
        left: 30%;
        width: 50%;
        font-size: 100%;
    }

    .register {
        top: 80%;
        font-size: 80%;
    }

    .pikachu {
        bottom: 0%;
    }

    .arrow {
        font-size: 100%;
    }

    .topnav {
        left: 15%;
        height: 3%;
        width: 80%;
    }

    .topnav a {
        font-size: 80%;
    }

    .icon {
        width: 110%;
    }

    .aboutContainer {
        font-size: 70%;
    }

    #contact {
        font-size: 100%;
    }
}


@media only screen and (max-width: 400px) {
    .subheader {
        font-size: 75%;
    }

    .date {
        font-size: 100%;
    }

    .timeAndLocation {
        font-size: 75%;
    }

    .center {
        top: 35%;
    }

    .timerBtn {
        top: 50%;
        left: 28%;
    }

    .register {
        top: 75%;
        font-size: 50%;
    }

    .pikachu {
        bottom: 0%;
    }

    .topnav a {
        font-size: 50%;
    }

    .topnav {
        width: 68%;
        left: 20%;
    }

    .aboutContainer {
        font-size: 60%;
    }

    #contact {
        font-size: 80%;
    }
}

@media only screen and (max-height: 500px) {
    .subheader {
        font-size: 75%;
    }

    .date {
        font-size: 100%;
    }

    .timeAndLocation {
        font-size: 75%;
    }

    .center {
        top: 35%;
    }

    .timerBtn {
        top: 50%;
        left: 28%;
    }

    .register {
        top: 75%;
        font-size: 50%;
    }

    .pikachu {
        bottom: 0%;
    }

    .topnav a {
        font-size: 50%;
    }

    .topnav {
        width: 68%;
        left: 20%;
    }

    .aboutContainer {
        font-size: 50%;
    }

    #contact {
        font-size: 70%;
    }
}